
@font-face {
    font-family: MuseoSans_500;
    src: url('../fonts/MuseoSans_500.otf') format('opentype');
}

 .ui-widget {
                font-size:90%;
            }
            /*Loader section*/
            .HideLoader {
                display: none;
            }

            .ShowLoader {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: fixed;
                display: block;
                opacity: 0.7;
                background-color: #fff;
                z-index: 99;
                text-align: center;
            }

            .loading-image {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
            
            }
            /*end Loader section*/

            .ui-widget button.btn {
              font-size: 14px;
            }
            .editor-label  .text-danger span {
                display:inline-block;
                font-size:9px;    
                margin-bottom: 6px;
                font-family:MuseoSans_500;
            }

            
        
            div#users-contain { width: 100%; margin: 10px 0;  font-family:MuseoSans_500;}
            div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
            div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 6px; text-align: left; }

            .form-label{            
                display:inline-block;
	            font-weight:normal;
	            font-size:0.85em;
	            color: #929fa9;
	            font-family:MuseoSans_500;
            }


            label, input { display:block; }
            input.text { margin-bottom:12px; width:95%; padding: .4em; }
            fieldset { padding:0; border:0; margin-top:25px; }
            h1 { font-size: 1.2em; margin: .6em 0; }

            .sidebar-nav {
                padding: 9px 0;
            }
            .nav-font {
                font-family:MuseoSans_500;
                text-transform: uppercase;
                font-size:11px;
                font-weight:lighter;
                letter-spacing: 1px;
            }

            .dropdown-menu .sub-menu {
                left: 100%;
                position: absolute;
                top: 0;
                visibility: hidden;
                margin-top: -1px;
            }

            .dropdown-menu li:hover .sub-menu {
                visibility: visible;
            }

            .dropdown:hover .dropdown-menu {
                display: block;
            }

            .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
                margin-top: 0;
            }

            .top {
                display: flex;
                position: relative;
                height: 22px;
                top: 40px;
                transition: all .1s linear;
            }
            .-phone {
                display: inline-flex;
                margin-right: 5px;
            }

            .-header-top {
                padding: 0px 0;
                height: 70px;
                background-color: #fff;
                display: flex;
                justify-content: space-between;
                transition: all .2s linear;
            }
            .center-frame {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                max-width: 1300px;
            }
            .-logo {
                display: inline-block;
                transition: width .2s linear;
            }

            .copyright_footer2 {
                color: #6c727d;
                text-align: center;
                font-family: MuseoSans_500;
                font-size: 11px;
                line-height: 1.6em;
                letter-spacing: 0px;
                font-weight: 300;
                font-style: normal;
            }
           #footer {
                background-color: #172541;
                padding-top: 40px;
            }

    .ui-widget-header {
        background: #172541;
    }

    .ui-widget-header a,  .ui-widget-header th{
        color:white;
    }

    .ui-dialog-title {
        color:white;
    }