<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key ="sproc" value = "p_tim_vendor_order_detail_biz" />
    <add key ="spOrderSync" value = "p_tim_vendor_order_sync" />
    <add key ="spTIMProcess" value = "p_tim_process" />
	  <add key ="spTIMProcessUpdate" value = "pu_tim_process" />
	  <add key ="ProcessTypeCode" value = "BIZTALK" />
	  <add key ="ConnectionStr" value = "Data Source=SYBUATOLTP;Port=4065;Database=VB3AULGX;Uid=timuser;Pwd=usertim;" />
	  <add key ="TIMProcessHeader" value = "&lt;ns0:p_tim_process xmlns:ns0=&quot;http://Visy.ECommerce.TIM.InternalSchemas/p_tim_process&quot;&gt;&lt;Table&gt;" />
    <add key ="MainHeaderOrderSync" value ="&lt;ACTIVE_ORDER_SYNC scope='"/>
    <add key ="MiddleHeaderOrderSync" value ="' tim_vendor_code='"/>
    <add key ="EndHeaderOrderSync" value ="'&gt;&lt;vendor_orders&gt;"/>
    <add key ="MainHeaderEndOrderSync" value ="&lt;/vendor_orders&gt;&lt;/ACTIVE_ORDER_SYNC&gt;"/>
    <add key ="EndFooterOrderSync" value ="&lt;/update_orders&gt;"/>
    <add key ="TIMProcessHeaderEnd" value = "&lt;/Table&gt;&lt;/ns0:p_tim_process&gt;" />
	  <add key ="MainHeaderCreateStr" value = "&lt;ns0:create_order xmlns:ns0='http://Visy.ECommerce.TIM.Schemas.CreateOrder'&gt;&lt;ns1:vendor_order xmlns:ns1='http://Visy.ECommerce.TIM.Schemas/datatypes'&gt;" />
	  <add key ="MainHeaderCancelStr" value = "&lt;ns0:cancel_order xmlns:ns0='http://Visy.ECommerce.TIM.Schemas.CancelOrder'&gt;&lt;ns1:vendor_order xmlns:ns1='http://Visy.ECommerce.TIM.Schemas/datatypes'&gt;" />
	  <add key ="MainHeaderUpdateStr" value = "&lt;ns0:update_order xmlns:ns0='http://Visy.ECommerce.TIM.Schemas.UpdateOrder'&gt;&lt;ns1:vendor_order xmlns:ns1='http://Visy.ECommerce.TIM.Schemas/datatypes'&gt;" />
    <add key ="StartOrderSyncStr" value = "&lt;vendor_orders&gt;" />
    <add key ="EndOrderSyncStr" value = "&lt;/vendor_orders&gt;" />
    <add key ="StartSubOrderSyncStr" value = "&lt;vendor_order&gt;" />
    <add key ="EndSubOrderSyncStr" value = "&lt;/vendor_order&gt;" />
    <add key ="StartFirstSubHeaderStr" value = "&lt;reference_items&gt;" />
	  <add key ="EndFirstSubHeaderStr" value = "&lt;/reference_items&gt;" />
	  <add key ="StartFirstSubHeaderStr1" value = "&lt;ns1:reference_item&gt;" />
	  <add key ="EndFirstSubHeaderStr1" value = "&lt;/ns1:reference_item&gt;" />
	  <add key ="StartSecondSubHeaderStr" value = "&lt;comments&gt;" />
	  <add key ="EndSecondSubHeaderStr" value = "&lt;/comments&gt;" />
	  <add key ="StartSecondSubHeaderStr1" value = "&lt;ns1:comment&gt;" />
	  <add key ="EndSecondSubHeaderStr1" value = "&lt;/ns1:comment&gt;" />
	  <add key ="StartThirdSubHeaderStr" value = "&lt;work_centres&gt;" />
	  <add key ="EndThirdSubHeaderStr" value = "&lt;/work_centres&gt;" />
	  <add key ="StartThirdSubHeaderStr1" value = "&lt;ns1:work_centre&gt;" />
	  <add key ="EndThirdSubHeaderStr1" value = "&lt;/ns1:work_centre&gt;" />
	  <add key ="StartFourthSubHeaderStr" value = "&lt;contacts&gt;" />
	  <add key ="EndFourthSubHeaderStr" value = "&lt;/contacts&gt;" />
	  <add key ="StartFourthSubHeaderStr1" value = "&lt;ns1:contact&gt;" />
	  <add key ="EndFourthSubHeaderStr1" value = "&lt;/ns1:contact&gt;" />
	  <add key ="MainHeaderCreateEndStr" value = "&lt;/ns1:vendor_order&gt;&lt;/ns0:create_order&gt;" />
    <add key ="MainHeaderCancelEndStr" value = "&lt;/ns1:vendor_order&gt;&lt;/ns0:cancel_order&gt;" />
    <add key ="MainHeaderUpdateEndStr" value = "&lt;/ns1:vendor_order&gt;&lt;/ns0:update_order&gt;" />    
    <add key ="StoreFilePathOrderSync" value = "E:\Interfaces\LGX.TIM\Operations\Outbound\Submit\OrderSync\" />    
	  <add key ="StoreFilePathKIRKS" value = "E:\interfaces\LGX.TIM\Operations\Outbound\Submit\Kirks\" />
	  <add key ="StoreFilePathVendorName" value = "E:\interfaces\LGX.TIM\Operations\Outbound\Submit\VendorName\" />
	  <add key ="TimProcessStoreFilePath" value = "E:\Archive\LGX.TIM\Archive\" />
  </appSettings>
</configuration>